#all {
  background-color: rgba(255, 192, 203, 0.671);
  width: fit-content;
  margin: auto;
  padding: 20px;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  margin: auto;
  background-image: url("myBG.jpg");
}

#container {
  width: fit-content;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  margin: auto;
}

h1 {
    font-size: 50px;
}

h1,
h2 {
  font-family: "Verdana", sans-serif;
  margin-bottom: 20px;
}

#quote {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 20px;
  margin: auto;
  width: 500px;
}

.blob {
  width: auto;
  height: 500px;
  display: inline-block;
  gap: 2px;
}

.blob.curveR {
  border-radius: 20px 0px 0px 20px;
}

.blob.curveL {
  border-radius: 0px 20px 20px 0px;
}

#para {
  width: 600px;
  margin: auto;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 18px;
}

#button {
  text-decoration: none;
  background-color: black;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s ease;
}

#button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transform: scale(1.2);
}

@keyframes inNout {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

#TXT {
  animation: inNout 2s linear infinite;
  margin-bottom: 20px;
}
